.section__control_panel{
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;

  .button {
    height: 20px;
    padding-top: 1px;
    font-size: 13px;
  }
}

.panel_create,
.panel_update {
  display: flex;
  align-items: center;
  gap: 10px;
}