section {
  padding: 10px;
}

.deactive {
  display: none;
}

.section__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section__pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.section__header_list {
  display: grid;
  width: 300px;
  grid-template-columns: repeat(5, 1fr);

  span {
    text-align: center;
  }
}